 <%@ taglib prefix="nt" uri="http://www.tfsla.com/taglib/tfsNewsTags" %>
<%@ page import="java.text.SimpleDateFormat"%>
<%@ page import="java.util.Date"%>
<%@ page import="java.util.Locale"%>
<%@ include file="/system/modules/com.tfsla.diario.telesur/elements/TS_Common_Libraries.jsp" %>
						<%--programacion del menu del header--%>
<title>teleSUR JRVO</title>
<%
	
        SimpleDateFormat format_dayname = new SimpleDateFormat("EEEE", new Locale("ES"));
        SimpleDateFormat format_daynumber = new SimpleDateFormat("dd", new Locale("ES"));
        SimpleDateFormat format_month = new SimpleDateFormat("MMMMM", new Locale("ES"));
        SimpleDateFormat format_year = new SimpleDateFormat("yyyy", new Locale("ES"));
        Date now = new Date();
       
        String pageTitle = (request.getParameter("pageTitle") == null ) ? "" : request.getParameter("pageTitle") ;
        String pageSeccion = (request.getParameter("pageSeccion") == null ) ? "" : request.getParameter("pageSeccion") ;
	String agenda = (request.getParameter("agenda") == null ) ? "" : request.getParameter("agenda") ;
	String latest = (request.getParameter("latest") == null ) ? "" : request.getParameter("latest") ;
	
%>	

<!DOCTYPE html>
<html lang="es">
<head>
							<!--LLAMADO AL HEAD (METAS)-->
			
	<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Common_headjrvo.jsp">
		<cms:param name="template">homejrvo</cms:param>
	</cms:include>
	<nt:page-builder-init/>
							<!--FIN LLAMADO AL HEAD (METAS)-->

	<title>teleSUR JRVO</title>
	
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<%--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">--%>
	<!-- Custom styles -->
	<link href="/system/modules/com.tfsla.diario.telesur/resources/css/estilosintegracion.css" rel="stylesheet" type="text/css">
	
	
	<!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>
		
<header id="header">						
	<div id="head" class="parallax" parallax-speed="2">
		<div class="wrap">
			<!-- En home no se ve esto: -->
			<%--
			<% if(pageTitle != ""){ %>
				<div class="sectionName"><%=pageTitle%></div>
			<% } %>
			--%>
			<div class="barTop">
				<div class="btnLangi">				
						<a href="/english/index.html">ENGLISH</a>
			</div>
			<div class="barTopRSS">
					<div class="btnLogoRSS">
					<a href="/pages/rss.html">
					<!--<img style="float:left;" src="/arte/RSS-icon.png" width="20px" heigth="20px" /></a>-->		
					</div>	
					<div class="btnLangRSS">
					<a href="/pages/rss.html">RSS</a>
					</div>		
			</div>
			<div class="barTopAPP">
					<div class="btnLogoAPP">
					<a href="/pages/aplicaciones.html" >
					<!--<img style="float:left;" src="/arte/mobile-icon.png" width="20px" heigth="20px" /></a>-->
					</div>
					<div class="btnLangAPP">
					<a href="/pages/aplicaciones.html">APPS</a>
					</div>		
			</div>		
				<!-- language -->
				<div class="dateHead">
					<span><%=format_daynumber.format(now)%> <%=format_month.format(now)%></span>
					<%--<span>&middot;<cms:img src="/arte/ico-clima.png" scaleType="2" alt="Telesur" /> <strong>23</strong>° Caracas</span>--%>
				</div>
				<!-- date time -->
				<div class="sesionHead">
					<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/webusers/TS_Login_Headerjrvo.jsp" />
					<!--
					<div class="searchHead">
						<form action="/buscar.html" method="post">
							<input type="text" name="search_form" value="" placeholder="Buscar">
							<input type="submit" name="enviar" value="">
						</form>
					</div>
					-->
				</div>
				<!-- Iniciar sesión -->
		</div>
			
		<!-- BAR TOP -->
		</div>
		<!-- wrap-->  	
		<br> <br> <br>	<br>  <br>  <br> <br> <br> <br>	<br>  <br>  <br>
		<h1 id="logo" class="text-center">
			<img class="" src="/arte/log-iso-telesur.png" scaleType="1" alt="Telesur">
			<img class="" src="/arte/logo-tipo-telesur_brand.png" scaleType="2" alt="Telesur">
		</h1>
		
	
	
	</div>	
	<!--parallax-->	
	        
				        
</header>
<body>
			<!--MENU DEL HEADER-->
<div class="divmenu">
	<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Common_Menujrvo.jsp" >
		<cms:param name="pageSeccion"><%=pageSeccion%></cms:param>        
	</cms:include> 
</div>	
			<!--FIN MENU DEL HEADER-->

						<!--INTEGRACION NOTA DESTACADA-->
					
					
<div class="container">
	<div class="row section featured topspace" >
		<h2 class="section-title" style="background:#0080b7 none repeat ; color: white ; border: double"><strong><span>NOTICIA DESTACADA</span></strong></h2>
		
 	<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Common_Destacada1jrvo.jsp">
		<cms:param name="pageSeccion"><%=pageSeccion%></cms:param>        
	</cms:include> 
 		
 	</div> 
</div> 
 <br><br>
 
						<!--FIN NOTA DESTACADA-->
						
						<!-- / section NOTAS SECUNDARIAS-->
		
<main id="main">
   <div class="container">

	<div>
	  <cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Home_Destacadas_Secundarias_Portada1jrvo.jsp" /> 
	</div>
   </div>	<!-- /container -->
</main>
						<!-- /fin section NOTAS SECUNDARIAS-->
						<!-- BANNER DINAMICO TELESUR-->
<main id="main">
   <div class="container">					
<div class="banners pos2" style="margin-bottom:25px">
	<div id="div-gpt-ad-1465261469364-3" data-google-query-id="CIDwoafPoNACFUcPhgodUhEAIg">
		<script type="text/javascript">
			<div id="google_ads_iframe_/18910235/home_lead3_0__container__" style="border: 0pt none;">
			<iframe id="google_ads_iframe_/18910235/home_lead3_0" title="3rd party ad content" name="google_ads_iframe_/18910235/home_lead3_0" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;"/>
			</div>
		</script>
	</div>
</div>
  </div>	<!-- /container -->
</main>
						<!--FIN BANNER DINAMICO TELESUR-->
						
						<!-- / SECCION LISTA DE NOTA POR CATEGORIA (deportes)-->
						
<main id="main">
   <div class="container">
	<div class="row section featured topspace" >
		<h2 class="section-title" style=" background:#0080b7 none repeat; , color:white; , border:double; "><strong><span>DEPORTES</span></strong></h2>
	</div><!-- row section featured topspace -->
	<div>
	     <cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Home_Deportesjrvo.jsp"> 
		  <cms:param name="pageSeccion"><%=pageSeccion%></cms:param>
	    </cms:include>   
	</div>   
  </div>	<!-- /container -->
</main>					
						<!-- / FIN SECCION LISTA DE NOTA POR CATEGORIA (deportes)-->
						
						<!--BANNER ESTATICO-->
<main id="main">
   <div class="container">
	<div class="bannerestatico" style="margin-left:150px; margin-bottom:25px">
	<script type="text/javascript"></script>
	<script type="text/javascript" src="http://advert.telesurtv.net/publicidad/www/delivery/ajs.php?zoneid=9&cb=82860179553&charset=UTF-8&loc=http%3A//www.telesurtv.net/"></script>
		<div id="beacon_78044698f5" style="position: absolute; left: 0px; top: 0px; visibility: hidden;">
			<a href="http://advert.telesurtv.net/publicidad/www/delivery/ck.php?oaparams=2__bannerid=1942__zoneid=9__cb=78044698f5__oadest=http%3A%2F%2Fwww.clacso.tv%2F" target="_blank">
			<img src="http://advert.telesurtv.net/images/810f04b0e6fb06b39e1bcc0001a39253.jpg" alt="Clacso TV" title="Clacso TV" width="728" height="90" border="0">
			</a>
			<noscript><a href='http://advert.telesurtv.net/publicidad/www/delivery/ck.php?n=a4ff505d&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://advert.telesurtv.net/publicidad/www/delivery/avw.php?zoneid=9&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a4ff505d' border='0' alt='' /></a></noscript>
		</div>		
	</div>	<!--cierre div bannerestatico-->
   </div>	<!-- /container -->
</main>		
						<!--FIN BANNER ESTATICO-->
						<!-- / SECCION API DE VIDEOS-->
<main id="main">
   <div class="container">
	<div class="hvideos" >
		<h2 class="section-title" style="background:#0080b7 none repeat ; color: white ; border: double"><strong><span>VIDEO</span><strong></h2>
		<h5><a href="http://videos.telesurtv.net/"><strong>VER TODOS LOS VIDEOS<strong></a><img src="/arte/redes/video.png?__scale=w:40,h:40,t:2" alt="Telesur" style=" width= 30; height= 30; margin-left: 10px; margin-top: -14; position: absolute; "</h5>
		
	</div> <!-- row section featured topspace -->
	
	<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/I_TS_Videosjrvo.jsp">
		<cms:param name="template">pageSeccion</cms:param>
	</cms:include>
	
   </div>	<!-- /container -->
</main>
	      		
			
						<!-- /FIN SECCION aAPI DE VIDEOS-->
						
						<!--LLAMADO DEL FOOTER TELESUR-->
<cms:include page="/system/modules/com.tfsla.diario.telesur/elements/TS_Common_Footerjrvo.jsp">
		<cms:param name="template">homejrvo</cms:param>
</cms:include>
						<!--LLAMADO DEL FOOTER TELESUR-->


</html>




<script src="/system/modules/com.tfsla.diario.telesur/elements/webusers/TS_Logout.jsp"></script>
<script src="/system/modules/com.tfsla.diario.telesur/elements/webusers/TS_RecoverySession.jsp"></script>
<script src="/system/modules/com.tfsla.diario.telesur/resources/js/jquery.flexslider.js"></script>
<script src="/system/modules/com.tfsla.diario.telesur/resources/js/function.js"></script>
<script src="/system/modules/com.tfsla.diario.telesur/resources/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="<cms:link>/system/modules/com.tfsla.diario.telesur/resources/js/jquery.isotope.min.js</cms:link>"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/system/modules/com.tfsla.diario.telesur/resources/js/template_jquery_integracion.js"></script>

</body>
</html>



